appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
distlib==0.3.0
dj-database-url==0.5.0
Django==3.1.14
django-autoslug==1.9.8
django-grappelli==2.14.2
django-heroku==0.3.1
django-newsletter==0.9.1
filelock==3.0.12
gunicorn==20.0.4
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
ldif3==3.1.1
mccabe==0.6.1
oauthlib==3.1.0
Pillow==8.2.0
psycopg2==2.8.6
PySocks==1.7.1
python-card-me==0.9.3
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
rope==0.17.0
six==1.15.0
sorl-thumbnail==12.6.3
sqlparse==0.3.1
surlex==0.2.0
toml==0.10.1
tweepy==3.8.0
unicodecsv==0.14.1
urllib3==1.26.5
virtualenv==20.0.24
whitenoise==5.2.0
wrapt==1.12.1
